:root {
    font-family: "Montserrat", system-ui, sans-serif;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.3rem;
}

/* Header */
.container :nth-child(1) button:hover {
    background-color: black;
    color: white;
}

/* Main */
.container :nth-child(2) .projects p {
    font-size: 1.1em;
}

/* Footer */
.container :nth-child(3) p {
    font-size: 85%;
}
